<%= render 'shared/errors', obj: @post %>

<%= form_for @post do |f| %>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|%>
      <%cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
  </p>

  <p>
    <%= f.submit(@post.new_record? ? "Create Post" : "Update Post") %>
  </p>
<% end %>