<% if @post.errors.any? %>
  <div class="row">
    <div class="alert alert-error span8">
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited
            this post from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<%= form_for @post do |f| %>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit(@post.new_record? ? "Create Post" : "Update Post") %>
  </p>
<% end %>