<h3>Welcome!</h3>

<p>This is the Postit template. You've access the PostsController, index action. This is the index template. Find me under app/views/posts folder.</p>


	 <% @posts.each do |post| %>

	  	<div class="row">
	  		<div class="span0 well text-center">

	   			<%= link_to "+", vote_post_path(post, vote: true), method: 'post', remote: true if logged_in? %>
	   			<span id="post_<%= post.slug %>_votes">[ <%= post.total_votes %> ]</span>
	   			<%= link_to "-", vote_post_path(post, vote: false), method: 'post', remote: true if logged_in? %>
	   		</div>
	   			<div class="span8 well">

	    			<p>
			  			<% post.categories.each do |category|  %>
				    		<%= category.name %>
				  		<% end %>
						</p>
	      		<p><%= link_to fix_url(post.url) %></p>
	      		<p><%= post.title %></p>
	      		<p><%= post.description %></p>
	      		<p><%= link_to 'Show', post_path(post) %>&nbsp
	      		<% if logged_in? %>
	      			<%= link_to 'Edit', edit_post_path(post) %>&nbsp</p>
	      		<% end %>
	      		<p>posted by <%= post.user.username %> on <%= pretty_date(post.created_at) %></p>
	      		<p>This post has <%= pluralize(post.comments.size, 'comment') %></p>
	    	 <!-- <td><%= link_to 'Destroy', post_path(post),
	             method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  				</div>
  		</div>
  <% end %>

	
