<h3>Show Post</h3>
<div class="well">
<p>
	<strong>Url:</strong>
	<%= link_to @post.url, fix_url(@post.url) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.description %>
</p>

<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path(@post) %>
</div>

<h5>Comments:</h5>

<%= render 'shared/errors', obj: @comment %>

<%= form_for [@post, @comment] do |f| %>
<%= f.label :body, "Leave a comment" %>
<%= f.text_area :body %>
<br>
<%= f.submit "Create Comment", class: 'btn btn-primary' %>
<% end %>

		<% @post.comments.each do |comment| %>
		<div class="row">
				<div class="span0 well text-center">

	   			<%= link_to "+", vote_post_comment_path(@post, comment, vote: true), method: 'post', remote: true if logged_in? %>
					<span id="comment_votes">[ <%= comment.total_votes %> ]</span>
	   			<%= link_to "-", vote_post_comment_path(@post, comment, vote: false), method: 'post', remote: true if logged_in? %>
	   		</div>
			<div class="span8 well">
						<p>
						<%= comment.body %> by <%= comment.user.username %>
						</p>
			</div>
		</div>
						<% end %>
